/* 
    HTML-CSS Reset 
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    line-height: 1.5;
}

.small-cap {
    font-variant: small-caps;
}


/* all element html design */

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
}

p,
a,
b,
span,
ins,
del,
em,
i,
button {
    padding: 2px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}


/* text-reset */

a {
    text-decoration: none;
}

.button {
    padding: 15px 20px;
    background-color: cadetblue;
    color: #060309;
}

.active {
    background-color: orangered;
    color: wheat;
}


/* Theme Colors */

.bg-white {
    background-color: #f3f3f3f3;
}

.bg-black {
    background-color: #010101;
}

.text-white {
    color: #f3f3f3f3;
}

.text-black {
    color: #010101;
}

.bg-red {
    background-color: tomato;
}

.bg-orange {
    background-color: orangered;
}

.bg-peru {
    background-color: peru;
}

.bg-teal {
    background-color: teal;
}

.heading-out {
    outline: 2px solid #010101;
    outline-offset: 2px;
    border: 5px solid tomato;
}

.parallax {
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* filter: blur(5px); */
}

.img-circle {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
}

#home {
    background-image: url('img/img01.jpg');
}

#about {
    background-image: url('img/img02.jpg');
}

#potfolio {
    background-image: url('img/img03.jpg');
}

#contact {
    background-image: url('img/img04.jpg');
}

#service {
    background-image: url('img/img05.jpg');
}

#service2 {
    background-image: url('img/img06.jpg');
}

#service3 {
    background-image: url('img/img01.jpg');
}

.row {
    max-width: 100%;
}

.row {
    content: "";
    clear: both;
    display: table;
}


/* col */

.col-25 {
    width: 25%;
    /* display: inline-block; */
    float: left;
}

.col-30 {
    width: 33%;
    /* display: inline-block; */
    float: left;
}

.col-50 {
    width: 50%;
    /* display: inline-block; */
    float: left;
}


/* padding */

.pt-1 {
    padding-top: 1px;
}

.pt-2 {
    padding-top: 2px;
}

.pt-3 {
    padding-top: 3px;
}

.pt-4 {
    padding-top: 4px;
}

.pt-5 {
    padding-top: 5px;
}

.pr-1 {
    padding-right: 1px;
}

.pr-2 {
    padding-right: 2px;
}

.pr-3 {
    padding-right: 3px;
}

.pr-4 {
    padding-right: 4px;
}

.pr-5 {
    padding-right: 5px;
}

.pad-1 {
    padding: 1px;
}

.pad-1 {
    padding: 1px;
}

.pad-5 {
    padding: 5px;
}

.outline-1 {
    outline: 1px solid #010101;
}


/* text-properties */

.center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.justify {
    text-align: justify;
}

.overline {
    text-decoration: overline;
}

.linethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.capitlize {
    text-transform: capitalize;
}

.text-indent-10 {
    text-indent: 10px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.line-height-small {
    letter-spacing: 1;
}

.line-height-med {
    line-height: 1.15;
}

.line-height-lg {
    line-height: 1.5;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.word-space-2 {
    word-spacing: 2px;
}

.word-space-5 {
    word-spacing: 5px;
}

.text-shadow-dim-red {
    text-shadow: 3px 2px 5px red;
}


/* List */

ul,
ol {
    margin-left: 45px;
}

.list-square {
    list-style-type: square;
}

.list-circle {
    list-style-type: circle;
}

.list-disc {
    list-style-type: disc;
}

.list-num {
    list-style-type: decimal;
}

.list-lapha {
    list-style-type: lower-alpha;
}

.list-ulapha {
    list-style-type: upper-alpha;
}

.list-uroman {
    list-style-type: upper-roman;
}

.list-lroman {
    list-style-type: lower-roman;
}

.list-check {
    list-style-image: url('img/check.svg');
}

.list-out {
    list-style-position: outside;
}

.list-in {
    list-style-position: inside;
}

.table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

.table tr,
.table th,
.table td {
    border: 2px solid black;
    padding: 5px;
}

.table td {
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
    color: #010101;
}

.table .even tr:nth-child(even) {
    background-color: #3d3d3d;
}

.table .odd tr:nth-child(odd) {
    background-color: #3d3d3d;
}

.d-inline {
    display: inline;
}

.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
    flex-wrap: nowrap;
}

.d-inline-flex {
    display: inline-flex;
}

.d-hide {
    display: none;
}

.nav {
    position: relative;
    height: 60px;
}

.nav-absolute {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.nav-fixed {
    position: fixed;
    z-index: 2;
    right: 0;
}

.nav-sticky {
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    right: 0;
    top: 0;
}


/* Float */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.logo-box {
    position: relative;
}

.logo-box::after {
    content: "";
    clear: both;
    display: table;
}

.nav::after {
    content: "";
    clear: both;
    display: table;
}


/* Combinators 
    descendant selector (space)
    child selector (>)
    adjacent sibling selector (+)
    general sibling selector (~)
*/

.list-circle li {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.list-num li {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

.list-circle>li {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

.list-num>li {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

#potfolio h1~p {
    text-indent: 20px;
    text-align: justify;
    background-color: rgba(255, 213, 166, 0.6);
}

#potfolio h1+p {
    text-indent: 20px;
    text-align: justify;
    background-color: rgba(250, 245, 254, 0.6);
}


/* 
    Pseudo-classes
*/

nav a:first-child {
    background-color: orangered;
    color: wheat;
}

.table thead tr:first-child {
    background-color: teal;
    color: wheat;
}

.nav .button:hover:not(.active) {
    background-color: #060309;
    color: cadetblue;
}